{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}
{% load static %}
{% block body %}


<link rel="stylesheet" href="/static/css/contact.css">
<div class="container1 my-3">
   <div class="container text-left">
    <div class="row gy-5" >
      <div class="col" id="col1">
        <form class="row g-3" method="post" action="{% url 'contact' %}">
          {% csrf_token %}
          <div class="col-md-6">
            <label for="inputName4" class="form-label">Fullname</label>
            <input type="text" name="name" class="form-control" id="inputName4" placeholder="Enter your full name" required>
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Enter valid email" required>
          </div>
          <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Phone</label>
            <input type="number" name="phone" class="form-control" id="inputEmail4" size="10" required>
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" name="add" class="form-control" id="inputAddress" placeholder="Address" required>
          </div>
          <div class="text-area">
            <textarea name="msg" class="form-control" placeholder="Leave your message here"  rows="5"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
          </div>
        </form>
      </div>
      <div class="col" id="col2">
        <div class="college-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.936584886074!2d77.48942247549523!3d28.481456375747577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce8ba81555555%3A0x738ac1a025bee778!2sIIMT%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1691247452556!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock body %}