{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div>
    <h1>Homepage</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, possimus? Tempore magni, laborum animi illum ad, soluta ipsa aliquid, fugit eius dicta nostrum sed. Fugit minima est voluptate voluptatum adipisci atque nobis, numquam, quia possimus blanditiis quidem perferendis repudiandae esse itaque delectus explicabo ad magnam eveniet alias consequatur cumque? Consectetur.
    </p>
</div>

{% endblock body %}